body{
  background-color: lightgrey;
  font-family: sans-serif;
}

#container{
  width: 460px;
  height: 510px;
  background-color: grey;
  margin-top: 45px;
  margin-left: 390px;
  top: 10px;
  bottom: 10px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
   rgba(0, 0, 0, 0.19);
}

.form{
  width: 240px;
  height: 20px;
  margin: 12px;
  padding: 53px;
}

.inp{
  margin-top: 45px;
  margin-left: 35px;
  width: 260px;
  height: 20px;
}

.head{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  font-style: normal;
  margin-left: 90px;
  background-position: center;
}

.butt{
  border-radius: 8px;
  border: 0px;
  background-color: lightgrey;
  width: 200px;
  margin-left: 55px;
  margin-top: 50px;
  font-size: 20px;
}

.butt0{
  border-radius: 8px;
  border: 0px;
  background-color: lightgrey;
  width: 200px;
  margin-left: 55px;
  margin-top: 27px;
  font-size: 20px;
}
